  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0.5em 1em;
    color: white;
    height: 100%;
    width: 25.8em;
    overflow: hidden;
    /* background-color: red; */
}
header ul {
    /* display: block; */
    list-style: none;
    position: fixed;
    top: 0px;
}
header ul li {
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
}
header i {
    color:#e8e8e8;
    font-size: 1.8em;
    font-weight: bold;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

header ul li .logo {
     text-decoration: none;
     font-size: 1.2em;
     font-weight: 600;    
}
header ul li a {
     text-decoration: none;
     font-size: 1.25em;
     font-weight: 600;
     padding: 15px;
     border-radius: 30px;
}
header ul li:not(:first-child) a:hover{
     color: #e8e8e8;
     background-color: rgba(75, 74, 74,0.3);
     border-radius: 30px;
     width: 40px;
     transition: 0.3s;
}
header ul li .settings {
    font-weight: normal;
    font-size: 1em;
}
.explore:hover img {
    background-color:rgba(75, 74, 74,0.3);
    border-radius: 50%;
}
.settings-icon:hover img {
    background-color: rgba(75, 74, 74,0.3);
  }
.logo img{
    padding: 15px;
    margin-top: -22px;
    border-radius: 50%;
}
.logo:hover img {
    border-radius: 50%;
    background-color:  rgba(75, 74, 74,0.3);
    transition: 0.3s;
}
main {
    display: inline-block;
    justify-content: space-between;
    /* background-color: blue; */
    width: 600px;
    height: 1378px;
    float: left;
    border-left: 0.1px solid rgba(75, 74, 74,0.2);
    border-right: 0.1px solid rgba(75, 74, 74,0.2);
}
.search {
    width: 502.4px;
    height: 48px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color:#57494956;
    position: absolute;
    float: right;
    border-radius: 30px;
    justify-content: flex-start;
}
.searchicon {
    background-color: #57494956;
  }
#search {
    position: relative;
}
.x {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.search input {
    outline: none;
    width: 432.8px;
    height: 27px;
    padding: 12px;
    border-style:none;
    float: right;
    background-color:#57494956;
    border: none !important;
}
/* .search :focus {
    box-shadow: none !important;
} */
.settings {
    margin-left: 70px;
}
.settings:hover img {
    background-color: #212121;
    border-radius: 50%;
    transition: 0.3s;
}
.settings img {
    width: 20px;
    height: 20px;
}
footer {
    position: fixed;
    top: 0px;
    right: -30px;
    margin:20px 130px 0 10px;
    padding: 20px ;
    line-height: 1.2em;
    overflow: hidden;
}
.signin {
    /* border: #e8e8e8 solid 1px; */
    height: 8px;
    width: 348.4px;
    padding: 20px;
    order: 0;
}
.signin h2 {
    margin: 10px;
}
.signin p {
    font-size: 12px;
    margin-bottom: 10px;
}
.signin p:not(:last-child) {
    color: #8d8d8d;
}
.signin a {
    text-decoration: none;
    color:rgb(29, 155, 240) ;
}
.signin a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
.options {
    width: 300px;
    height: 44px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.options h3 {
    display: inline;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 1em;
}
.options img {
    margin-right: 10px;
    background-color: white;
}
.box {
    height: 320px;
    width: 350px;
    border: rgb(75, 74, 74) solid 1px;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    /* display: flex; */
    border-radius: 15px;
}
.lists {
    width:316px;
    height:60px; 
    padding: 16px;
}
.lists ul {
    list-style-type: none;
}
.lists ul li {
    display: inline;
    /* padding: 5px; */
    margin-left: 5px;
    font-weight: 100;
    font-size: 11.5px;
    color: rgb(75, 74, 74);
    justify-content: space-between;
}
.lists ul li a {
    text-decoration: none;
}
.lists ul li a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
.lists p {
    font-size:11.5px;
    margin-left: 2px;
    padding: 5px;
    font-weight: 100;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}
.menu {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    border-bottom: 0.1px solid rgba(75, 74, 74,0.5);
} 
.menu a {
    text-decoration: none;
}
.text {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;   
    border-bottom-width: 5px;
    border-bottom-color: rgb(29, 155, 240);
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* min-width: 50px; */
}
#ent {
    padding: 3px;
    width: 125px;
    height: inherit;
}
.text:nth-child(1) {
    width: auto;
}
.text:nth-child(2) {
    width: 100px;
}
.text:nth-child(3) {
    width: 80px;
}
.text:nth-child(4) {
    width: 70px;
}
.text:hover {
    background-color: #57494956;
    opacity: 1;
    transition: 0.3s;
}
.text:hover a {
    background-color: #1a191956;
    opacity: 1;
    transition: 0.3s;
}
#foryou{
    /* position: relative; */
    /* opacity: 0; */
}
/* .active {
    
} */
.contents {
    /* display: block; */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 58px;
    padding: 16px;
    margin-top: 0;
    cursor: pointer;
    flex: 1;
    /* background-color: red; */
}
.contents:hover p,.contents:hover h3 {
    background-color: #201f1f56; 
    transition: 0.35s;
}

.contents p {
    font-size: 12px;
    font-weight: 100;
}
.contents h3 {
    font-size: 15px;
    font-weight: 500;
}
.three-dots {
    display: inline;
    background-color: #e8e8e8;
    width: 2px;
    height: 2px;
    border: 2px solid;
    float: right;
    border-radius: 100%;
    margin: 2px;
    padding: 0.5px;
}
.three-dots:hover {
    background-color:rgb(29, 155, 240) ;
}
.image {
    width: 570px;
    height: 620px;
    padding: 16px;
    /* position: relative; */
}
.image ul {
    list-style: none;
}
.image ul li {
    text-decoration: none;
    display: inline;
}
.topimage {
    width: 48px;
    height: 48px;
    /* border: inherit; */
    border-radius: 50%;
}
.imgcon a {
    text-decoration: none;
}
a .name {
    font-weight: 400;

    /* padding-top: -10px; */
}
.imgcon img {

}
.contentimage {
    width: 504px;
    height: 504px;
    float: right;
    padding-left: 45px;
}
.username {
    padding-left: 5px;
    margin-top: -10px;
}

.imgcon:hover {
    background-color:  #201f1f56;
}
.imgcon:hover img {
    background-color:#0e0d0d56;
}
.imgcon:hover ul{
    background-color: #0b0b0b56;
}
.imgcon a:hover{
    background-color: #0b0b0b56;
}
.imgcon:hover p {
    background-color: #0b0b0b56;
}
.topimages:hover{
    background-color: #0b0b0b56;
    border-radius: 50%;
}
.imgcon p {
    margin-left: 60px;
    font-weight: 200;
    font-size: 13px;
}
.topimages {
    display: inline;
}
